{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2019
    },
    "env": {
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "google"
    ],
    "rules": {
        "max-len": "off",
        "brace-style": [
            "error",
            "stroustrup"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ]
    }
}